@font-face {
  font-family: 'LEMON MILK';
  src: url('LEMONMILK-Medium.eot');
  src: url('LEMONMILK-Medium.eot?#iefix') format('embedded-opentype'),
      url('LEMONMILK-Medium.woff2') format('woff2'),
      url('LEMONMILK-Medium.woff') format('woff'),
      url('LEMONMILK-Medium.ttf') format('truetype'),
      url('LEMONMILK-Medium.svg#LEMONMILK-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: normal;
}


*{
    margin: 0;
    padding: 0;
    color:white ;
    font-family: 'LEMON MILK', sans-serif;
}

body{
  background-color: black;
  margin: auto;
}

  a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
} 

/* .Indexcontainer a {
  text-decoration: none;
}     Not using this to remove link because I have other links*/ 


/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  justify-content: center;
  background-color: black;
  overflow: hidden;
}

.h2{
  text-decoration: none;
}




/* Style the links inside the navigation bar */
.topnav a {
  display:flex;
  float: left;
  color:white;
  text-align: center;
  padding: 14px 5%;
  text-decoration: none;
  font-size: 1rem;
}

@media only screen and (max-width:360px) {
  .topnav a {
    display:flex;
    float: left;
    color:white;
    text-align: center;
    padding: 14px 3%;
    text-decoration: none;
    font-size: 1rem;
  }

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: white;
  color: black;
}

.centertext{
  background-color: black;
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}


  .Indexcontainer {
    position: relative;
    text-align: center;
    height: 92vh; 
    background: black;
    display: grid;
    
    grid-template-rows:1fr 1fr  ;
    grid-template-columns:1fr 1fr  ;
    grid-template-areas:
    "aboutme contactme"
    "aboutme workIhavedone"
    ;
  }

  @media only screen and (max-width:1000px) {

    .Indexcontainer {
      position: relative;
      text-align: center;
      height: 92vh; 
      background: black;
      display: grid;
      
      grid-template-rows:1fr 1fr 1fr;
      grid-template-columns:1fr;
      grid-template-areas:
      "aboutme "
      "contactme"
      "workIhavedone"
      ;
    }
  
  }

  .aboutme {
    grid-area: aboutme;
    background-image: url("aboutme.jpg");
    background-color: transparent;
    display:flex;
    background-size: cover; 
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contactme {
    grid-area: contactme;
    background-image: url("contactme.jpg");
    background-color: transparent;
    display:flex;
    background-size: cover; 
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  .workIhavedone {
    grid-area: workIhavedone;
    background-image: url("work.jpg");
    background-color: transparent;
    display:flex;
    background-size: cover; 
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }




.container-item {
  height: 600px;
  width: 600px;
  margin: 2em;
  background: black;
  transition: 0.2s;
  /* check out the Hover Grow Effect pen */
}

.container-item img {
  object-fit: cover;
  /* Makes the image fit nicely as a cover */
  width: 100%;
  height: 75%;
}

.workcontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.work{
  background-color: transparent;
  display:flex;
  background-size: cover; 
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vw 0px;
  height: 30vh;
  width: 40%;
  border: 3px solid white;
}

.work1{
  background-image: url("vantablack.jpg");
}

.work2{
  background-image: url("astronaut.jpg");
}

.work3{
  background-image: url("uxui.jpg");

}

.work4{
  background-image: url("gamedesign.jpg");
}

.uxuicountainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ux{
  background-color: transparent;
  display:flex;
  background-size: cover; 
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vh 1vw;
  height: 50vh;
  width: 90vh;

}

.ux1{
  background-image: url("loading.png");
}

.ux2{
  background-image: url("home.png");
}

.ux3{
  background-image: url("classroom.png");
}

.ux4{
  background-image: url("assignment.png");
}

.ux5{
  background-image: url("grade.png");
}

.ux6{
  background-image: url("grade overview.png");
}

.ux7{
  background-image: url("grade specific.png");
}

.ux8{
  background-image: url("connecting.png");
}

.ux9{
  background-image: url("calender.png");
}

.ux10{
  background-image: url("chat.png");
}

.ux11{
  background-image: url("setting.png");
}

.ux12{
  background-image: url("assign description.png");
}

.gamecountainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game{
background-color: transparent;
display:flex;
background-size: cover; 
background-position: center;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 3vh 1vw;
height: 55vh;
width: 100vh;

}

.game1{
background-image: url("Game\ Main\ Menu.png");
}

.game2{
background-image: url("Game\ Select\ Level.png");
}

.game3{
background-image: url("Game\ Setting.png");
}

.game4{
background-image: url("Gameplay\ Design.png");
}

.game5{
background-image: url("grade.png");
}

.game6{
background-image: url("Game\ store.png");
}






